<div class="submenu">
    <div ng-click="selectMenuItem('cv', 'skills')" class="submenu_item"
         ng-class="menuState.cv.submenu.skills === true ? 'selected' : ''"><a
            href="#/cv/skills">Skills</a>
    </div>
    <div ng-click="selectMenuItem('cv', 'experience')" class="submenu_item"
         ng-class="menuState.cv.submenu.experience === true ? 'selected' : ''"><a href="#/cv/experience">Experience</a>
    </div>
    <div ng-click="selectMenuItem('cv', 'projects')" class="submenu_item "
         ng-class="menuState.cv.submenu.projects === true ? 'selected' : ''"><a href="#/cv/projects">Projects</a>
    </div>
    <div ng-click="selectMenuItem('cv', 'courses')" class="submenu_item"
         ng-class="menuState.cv.submenu.courses === true ? 'selected' : ''">
        <a href="#/cv/courses">Courses</a>
    </div>
    <div ng-click="selectMenuItem('cv', 'education')" class="submenu_item"
         ng-class="menuState.cv.submenu.education === true ? 'selected' : ''"><a href="#/cv/education">Education</a>
    </div>
    <div ng-click="selectMenuItem('cv', 'other')" class="submenu_item"
         ng-class="menuState.cv.submenu.other === true ? 'selected' : ''"><a
            href="#/cv/other">Other</a>
    </div>
</div>