<div class="menu">
    <div ng-click="selectMenuItem('index')" class="menu_item"
         ng-class="menuState.index.selected === true ? 'selected' : ''"><a href="#/index">Index</a></div>
    <div ng-click="selectMenuItem('cv', 'skills')" class="menu_item"
         ng-class="menuState.cv.selected === true ? 'selected' : ''"><a href="#/cv/skills">CV</a></div>
    <div ng-click="selectMenuItem('blog')" class="menu_item"
         ng-class="menuState.blog.selected === true ? 'selected' : ''"><a href="#/blog">Blog</a></div>
    <div ng-click="selectMenuItem('contact')" class="menu_item"
         ng-class="menuState.contact.selected === true ? 'selected' : ''"><a href="#/contact">Contact</a></div>
</div>