<div class="modal-header">
    <h3>Project details</h3>
</div>
<div class="modal-body">

    <div style="width: 550px; float: left; height: 300px;">
        <carousel interval="5000">
            <slide ng-repeat="slide in slides">
                <img ng-src="{{slide.image}}" style="margin:auto;">
            </slide>
        </carousel>
    </div>
    <div style="margin-left: 550px; height: 300px; padding: 10px;">
        {{desc}}
    </div>

</div>
<div class="modal-footer" style="color: #0000FF">

    <button class="btn btn-primary"
            data-ng-click="close()">Close
    </button>
</div>